.container {
  margin: 50px 0;
  height: auto;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 15px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 0px #132027;
  background-color: #24353f;
  padding: 15px 25px;
  border-radius: 10px;
  color: black;
  gap: 5px;
  font-family: sans-serif;
}

.playerTag{
    margin: 0;
    font-size: 14px;
}

.scoreTag{
    margin: 0;
    font-size: 24px;
    font-weight: 800;
}