.container {
  margin: 50px 0;
  height: 100px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 0px #132027;
  background-color: #24353f;
  padding: 15px 25px;
  border-radius: 10px;
}
