.Circle {
  height: 30px;
  width: 30px;

  display: flex;
  border-radius: 50%;
  border: 20px solid #e5ab4e;
}

.CrossContainer {
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.CrossTopL {
  height: 20px;
  width: 80px;
  transform: rotate(45deg);
  background-color: #62c0bd;
  position: absolute;
  border-radius: 5px;
}
.CrossTopR {
  height: 20px;
  width: 80px;
  transform: rotate(135deg);
  background-color: #62c0bd;
  position: absolute;
  border-radius: 5px;
}
