.Circle {
    height: 30px;
    width: 30px;

    display: flex;
    border-radius: 50%;
    border: 20px solid #E5AB4E;
}

.Cross {
    height: 30px;
    width: 30px;

    display: flex;
    border-radius: 50%;
    border: 20px solid #62C0BD;
}