.container {
    height: 500px;
    width: 500px;
    background-color: #1E1E1E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.box{
    height: 100%;
    width: 100%;
    border: 2px solid blue;
}