.container {
  height: 500px;
  width: 500px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-gap: 10px;
}

.box {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 100px;
  font-weight: 800;
  font-family: sans-serif;
  color: white;

  padding: 0px;
  margin: 0px;
}
