.container {
  height: 500px;
  width: 500px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.box {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;;
}
