.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 30px;
  font-weight: 300;
  font-family: sans-serif;
}
.span {
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
}
