.gridWrapper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #8E9DA5;
    box-shadow: 0px 8px 0px #132027;

    display: flex;
    justify-content: center;
    align-items: center;
}