.container {
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background-color: #8E9DA5;
    box-shadow: 0px 8px 0px #132027;

    display: flex;
    justify-content: center;
    align-items: center;
}